<div
  class="flex flex-col h-dvh w-12 py-2 px-2 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 transition-all duration-500 ease-in-out overflow-hidden"
  [class.w-64]="isCollapsed"
>
  <button
    class="flex items-center w-8 h-8 justify-center text-xs font-medium text-gray-700 rounded-full hover:bg-gray-100 hover:text-primary-700 bg-transparent focus:outline-none dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
    (click)="toggleSidebar()"
  >
    <span class="material-icons !text-base">menu</span>
  </button>
  <button
    class="flex items-center gap-2 h-8 px-2 text-xs font-medium text-gray-700 bg-white border border-gray-200 rounded-full hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 focus:outline-none dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer my-2"
    title="New Chat"
    [class.w-8]="!isCollapsed"
    (click)="navigateTo('chat/new')"
  >
    <span class="material-icons !text-base">add_comment</span>
    <div class="overflow-hidden whitespace-nowrap" [@toggle]="isCollapsed">
      <span class="text-sm">New Chat</span>
    </div>
  </button>
  <div
    class="flex-grow flex flex-col gap-1 my-2 overflow-y-auto"
    [@toggle]="isCollapsed"
  >
    @for (chat of chats(); track $index) {
    <div
      class="flex items-center justify-between gap-2 hover:bg-gray-100 hover:text-primary-700 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer px-2 py-1 rounded"
    >
      <div
        class="text-sm overflow-hidden whitespace-nowrap text-ellipsis"
        (click)="navigateTo('chat/' + chat.id)"
      >
        {{ chat.message }}
      </div>
      <span
        class="material-icons !text-base text-red-700 dark:text-red-400"
        (click)="deleteChat(chat.id)"
        >delete</span
      >
    </div>
    }
  </div>
  <!-- Bottom Actions -->
  <div
    class="flex flex-col gap-2 border-t border-gray-400 dark:border-gray-600 pt-2"
  >
    <button
      class="flex items-center gap-2 h-8 px-2 text-xs font-medium text-gray-700 rounded-full hover:bg-gray-100 hover:text-primary-700 bg-transparent focus:outline-none dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
      [class.w-8]="!isCollapsed"
      title="Model Incubator"
      (click)="navigateTo('models')"
    >
      <span class="material-icons !text-base">science</span>
      <div class="overflow-hidden whitespace-nowrap" [@toggle]="isCollapsed">
        <span class="text-sm">Model Incubator</span>
      </div>
    </button>
    <button
      class="flex items-center gap-2 h-8 px-2 text-xs font-medium text-gray-700 rounded-full hover:bg-gray-100 hover:text-primary-700 bg-transparent focus:outline-none dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
      [class.w-8]="!isCollapsed"
      title="Settings"
      (click)="navigateTo('settings')"
    >
      <span class="material-icons !text-base">settings</span>
      <div class="overflow-hidden whitespace-nowrap" [@toggle]="isCollapsed">
        <span class="text-sm">Settings</span>
      </div>
    </button>
    <!-- Theme switcher -->
    <button
      class="flex items-center gap-2 h-8 px-2 text-xs font-medium text-gray-700 rounded-full hover:bg-gray-100 hover:text-primary-700 bg-transparent focus:outline-none dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
      [class.w-8]="!isCollapsed"
      (click)="toggleTheme()"
      title="Toggle theme"
    >
      @if (themeMode === 'light') {
      <span class="material-icons !text-base">light_mode</span>

      } @else {
      <span class="material-icons !text-base">dark_mode</span>
      }
      <div class="overflow-hidden whitespace-nowrap" [@toggle]="isCollapsed">
        <span class="text-sm">Toggle Theme</span>
      </div>
    </button>
  </div>
</div>
