<div class="flex w-full">
  <div class="flex-grow flex flex-col h-dvh overflow-y-auto p-2">
    <!-- Chat Area -->
    <div class="flex-grow overflow-y-auto w-full">
      <berkeliumlabs-chat-bubble></berkeliumlabs-chat-bubble>
    </div>
    <berkeliumlabs-prompt-box
      (promptSend)="onPromptChanged($event)"
    ></berkeliumlabs-prompt-box>
  </div>
  <div
    class="w-64 h-dvh overflow-y-auto border-l border-gray-400 dark:border-gray-800 p-3"
  >
    <berkeliumlabs-prompt-settings
      [availableModels]="availableModels"
      (settingsChanged)="onSettingsChanged($event)"
    ></berkeliumlabs-prompt-settings>
  </div>
</div>
