<div class="flex flex-col h-dvh">
  <div class="flex items-center justify-between px-2 py-4 w-full h-16">
    <div class="flex items-center">
      <a
        class="flex items-center w-8 h-8 justify-center text-xs font-medium text-gray-700 rounded-full hover:bg-gray-100 hover:text-primary-700 bg-transparent focus:outline-none dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
        [routerLink]="'/'"
      >
        <span
          class="material-icons text-gray-700 dark:text-gray-400 hover:text-primary-700 dark:hover:text-white"
          >arrow_back</span
        >
      </a>
      <h4 class="ml-4">Model Incubator</h4>
    </div>
    <div class="flex pr-4 w-2/5 relative">
      <span class="material-icons absolute top-1/2 left-2 -translate-y-1/2"
        >search</span
      >
      <input
        type="text"
        placeholder="Search a model"
        class="!pl-10"
        (input)="onSearchInput($event)"
      />
    </div>
  </div>

  <!-- Filter -->
  @if(isInitialized) {
  <div class="w-full flex justify-between items-center gap-2 px-4 pb-1 mt-4">
    <span class="text-sm">{{ filteredModelList.length }} results</span>
    <div class="w-1/5">
      <select name="Task" (change)="onTaskSelected($event)">
        <option value="text-generation" selected>Text Generation</option>
        <option value="summarization">Text Summarization</option>
        <option value="text2text-generation">Text to Text Generation</option>
        <option value="translation">Translation</option>
        <option value="image-to-image">Image to Image</option>
      </select>
    </div>
  </div>
  }

  <!-- Body -->
  <div class="flex-grow px-4 pt-6 overflow-y-auto">
    @if (isInitialized) { @for (modelItem of displayModelList; track $index) {
    <berkeliumlabs-model-item
      [modelName]="modelItem.modelId"
      [modelDownloads]="modelItem.downloads"
      [modelLikes]="modelItem.likes"
      [modelDate]="modelItem.createdAt"
      (click)="goToModel(modelItem)"
    ></berkeliumlabs-model-item>
    } @empty {
    <p class="w-full text-center text-3xl mt-24">No models found</p>
    } } @else {
    <berkeliumlabs-spinner class="mt-4"></berkeliumlabs-spinner>
    }
  </div>
  @if (isInitialized && filteredModelList.length > pageSize) {
  <div class="flex items-center justify-center my-4 gap-3">
    <button
      class="solias-btn solias-btn--secondary solias-btn--sm flex justify-center items-center"
      (click)="goToPreviousPage()"
      [disabled]="currentPage === 1"
      title="Previous Page"
    >
      <span class="material-icons">keyboard_arrow_left</span>
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      class="solias-btn solias-btn--secondary solias-btn--sm flex justify-center items-center"
      (click)="goToNextPage()"
      [disabled]="currentPage === totalPages"
      title="Next Page"
    >
      <span class="material-icons">keyboard_arrow_right</span>
    </button>
  </div>
  }
</div>
