.bkl {
  &__panel {
    height: calc(100vh - 64px);
    overflow-y: auto;
  }
  &__chat {
    flex: 1;
  }
  &__docs {
    width: 300px;
  }
  &__chatbox {
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: 8px;
  }
}
