<div
  id="model-item"
  class="flex items-center justify-between bg-slate-200 dark:bg-slate-700 rounded-lg p-3 mb-2 cursor-pointer"
>
  <div class="flex items-center">
    <div class="flex items-center mr-2 rounded bg-slate-400 dark:bg-slate-800 px-2 py-1">
      <span class="material-icons text-gray-700 dark:text-gray-100 !text-sm mr-1"
        >arrow_downward</span
      >
      <span id="model-item-downloads" class="text-gray-700 dark:text-gray-100 text-sm">{{ modelDownloads?.toString()| number }}</span>
    </div>
    <div class="flex items-center rounded bg-slate-400 dark:bg-slate-800 px-2 py-1">
      <span class="material-icons text-gray-700 dark:text-gray-100 !text-sm mr-1">favorite</span>
      <span id="model-item-likes" class="text-gray-700 dark:text-gray-100 text-sm">{{ modelLikes?.toString() | number }}</span>
    </div>
  </div>
  <div id="model-item-name" class="text-slate-800 dark:text-slate-300 flex-grow ml-3">
    {{ modelName }}
  </div>
  <div
    id="model-item-date"
    class="text-gray-700 dark:text-gray-100 bg-slate-400 dark:bg-slate-800 text-sm rounded px-2 py-1"
  >
    {{ modelDate | date : "medium" }}
  </div>
</div>
