<div class="flex flex-col">
  <div class="pb-2 flex justify-between items-center border-b border-gray-400 dark:border-gray-800">
    <h6>Lab Settings</h6>
    <a
      href="https://berkeliumlabs.com"
      target="_blank"
      class="flex items-center w-8 h-8 justify-center text-xs font-medium text-gray-700 rounded-full hover:bg-gray-100 hover:text-primary-700 bg-transparent focus:outline-none dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 cursor-pointer"
    >
      <span class="material-icons">help</span>
    </a>
  </div>
  <form
    [formGroup]="promptSettingsForm"
    class="berkelium__grid flex-grow overflow-y-auto mt-4"
  >
    <div class="cell-12">
      <label>Model</label>
      <berkeliumlabs-dropdown
        [options]="availableModels"
        placeholder="Select a model"
        formControlName="model"
      ></berkeliumlabs-dropdown>
    </div>
    <div class="cell-12">
      <label for="temp">Temperature</label>
      <input
        type="number"
        name="temperature"
        id="temp"
        placeholder="Temperature"
        formControlName="temperature"
      />
    </div>
    <div class="cell-12">
      <label for="top-k">Top K</label>
      <input
        type="number"
        name="top_k"
        id="top-k"
        placeholder="Top K"
        formControlName="topK"
      />
    </div>
    <div class="cell-12">
      <label for="max-new-tokens">Max New Tokens</label>
      <input
        type="number"
        name="max_new_tokens"
        id="max-new-tokens"
        placeholder="Max New Tokens"
        formControlName="maxNewTokens"
      />
    </div>
    <div class="cell-12">
      <label for="sys-prompt">System Prompt</label>
      <textarea
        name="system-prompt"
        id="sys-prompt"
        placeholder="System Prompt"
        formControlName="systemPrompt"
      ></textarea>
    </div>
  </form>
</div>
